@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --max-width: 750px;
  --border-radius: 5px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: black
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #edede9;
}

h1, h2, h3, h4, h5, h6  {
  padding-bottom: 1.5rem;
  color: #707F62;
}

h1, h2, h3, h4, h5, h6, p  {
  font-weight: 350;
  font-family: 'Crimson Pro';
}

p {
  line-height: 1.5rem;
  font-size: 1.1rem;
}
