.main {
  margin: auto;
  max-width: 750px;
  background-color: white;
}

.streetDiv {
  padding: 0 6rem 2rem 6rem;
}

.streetDiv:first-child {
  padding-top: 6rem;
}

.mapsLink {
  display: block;
  padding-bottom: 1rem;
}

.streetText {
  text-align: justify;
}

/* Mobile */
@media (max-width: 750px) {

  .streetDiv {
    padding: 0 3rem 2rem 3rem;
  }
  
  .streetDiv:first-child {
    padding-top: 2rem;
  }
}