.main {
  margin: auto;
  background-color: white;
  max-width: var(--max-width);
  border-radius: var(--border-radius);
}

.streetDiv {
  padding: 0 6rem 2rem 6rem;
}

.streetDiv:first-child {
  padding-top: 6rem;
}

.streetDiv:last-child {
  padding-bottom: 6rem;
}

.streetImage {
  width: 100%;
  border-radius: var(--border-radius);
  margin-top: 2rem;
}

.streetTitle {
  padding-bottom: 1rem;
}

.mapsLink {
  display: block;
  margin-bottom: 1rem;
}

.streetText {
  text-align: justify;
}

/* Mobile */
@media (max-width: 750px) {
  .streetDiv {
    padding: 0 2rem 2rem 2rem;
  }
  
  .streetDiv:first-child {
    padding-top: 3rem;
  }
}